@tailwind base;
@tailwind components;
@tailwind utilities;

code { background-color: rgb(239, 239, 239); padding-left: 4px; padding-right: 4px; border-radius: 4px;}

.repl {
}

.repl code {
  height: inherit;
  overflow-y: scroll;
  background-color: unset;
}

.repl textarea, .repl label { background-color: unset;}

.fengari-input-container {
  display: flex;
}

.fengari-input-container > * {
  outline: none;
  border: none;
  white-space: pre-wrap;
  font-family: monospace;
  color: #444;
  background: #f0f0f0;
  min-height: 14px; /* minimum one line */
  padding: 10px;
  margin: 0;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #ddd;
}
