@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  visibility: visible;
  opacity: 1;
}

code { background-color: rgb(239, 239, 239); padding-left: 4px; padding-right: 4px; border-radius: 4px;}
[data-mode="dark"] code { color: black;}
[data-mode="dark"] .save-btn { fill: white;}
.save-btn { fill: rgb(153, 153, 153);}
.save-btn:hover { fill: rgb(84, 84, 84);}

.repl {
}

.repl code {
  height: inherit;
  overflow-y: scroll;
  background-color: unset;
}

.repl code pre { color: gray;}

.repl textarea, .repl label { background-color: unset;}
.repl textarea { padding-left: 0;}

.flure-input-container {
  display: flex;
}

.flure-input-container > * {
  outline: none;
  border: none;
  white-space: pre-wrap;
  font-family: monospace;
  color: #444;
  background: #f0f0f0;
  min-height: 14px; /* minimum one line */
  padding: 10px;
  margin: 0;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #ddd;
}

.history-line { padding-top: 2.5px; padding-bottom: 2.5px;}